html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

main {
    padding-top: 50px;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Adiciona 50px de padding encima e embaixo e 200px nas laterais */
    padding: 50px 200px;
}

#main-section > header > h1 {
    font-size: 40px;
}

#main-section > p {
    font-size: 20px;
}

#main-section > form > fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    /* Adiciona um espaçamento de 20px entre os elementos vizinhos */
    gap: 20px; 
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.form-box > textarea {
    width: 450px;
    height: 165px;
}
